/* Логотип */
.logo {
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  color: var(--color-dark-brown);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.logo-img {
  display: flex;
  flex-wrap: nowrap;
  height: 27px;
}

/* Текстовый блок */
.text-block {
  max-width: 542px;
  position: relative;
}

.text-block-first {
  text-align: left;
}

.text-block h1 {
  font-weight: 400;
  font-size: 60px;
  line-height: 1.2;
  color: var(--color-dark-brown);
  margin-bottom: 20px;
}

.text-block p {
  font-size: 18px;
  color: var(--color-dark-brown);
  line-height: 130%;
}

/* Кнопки */
.buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 335px;
  height: 47px;
  font-size: 16px;
  padding: 12px 20px;
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  transition: all var(--transition-duration) ease;
  font-family: var(--font-family-accent);
}

.btn-primary {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.btn-primary:hover {
  background-color: var(--color-yellow);
  color: var(--color-dark);
}

.btn-secondary {
  background-color: rgba(255, 255, 255, 0.88);
  color: var(--color-dark);
}
.btn-secondary:hover {
  background-color: var(--color-dark);
  color: var(--color-white);
}

/* Бегущая строка */
.marquee {
  position: absolute;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  background-color: var(--color-red);
  height: 38px;
  width: 100%;
  left: 0;
  bottom: 0;
}

.buy-text {
  font-size: 16px;
  font-family: var(--font-family-base);
  line-height: 1.3;
  white-space: nowrap;
  display: inline-block;
  color: var(--color-white);
}

.buy-text1 {
  animation: marquee1 20s infinite linear;
  animation-delay: -20s;
}
.buy-text2 {
  animation: marquee2 20s infinite linear;
  animation-delay: -10s;
}

@keyframes marquee1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.container-main-img {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  z-index: -1;
}

.city-canvas {
  position: relative;
  width: 1920px;
  margin: 0 auto;
}
.city {
  height: auto;
  display: block;
  position: relative;
  z-index: 1;
}

/* Слои */
/* Солнце */
.sun {
  position: absolute;
  z-index: 0;
  /* width: 36%;
  left: 56%;
  bottom: 26%; */
  height: auto;
}

/* Фигуры */
.chess-piece {
  position: absolute;
  height: auto;
}

.queen {
  z-index: 0;
}

.king {
  z-index: 0;
}

.knight {
  z-index: 2;
}

.pawn {
  z-index: 2;
}

/* Секция поддержки */
.support {
  padding: 60px 0;
}

.support-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.support-text h2 {
  font-family: var(--font-family-base);
  font-size: 36px;
  font-weight: 400;
  line-height: 135%;
  /* margin-bottom: 20px; */
}

.chessgame {
  width: 394px;
  height: 250px;
}

.highlight {
  color: var(--color-red);
  font-weight: bold;
}

.image-champion {
  flex: 1 1 300px;
  min-width: 280px;
}

.image-champion img {
  max-width: 100%;
  height: auto;
  display: block;
}

.text-block-champion {
  flex: 2 1 400px;
  min-width: 280px;
}

.text-block-champion h2 {
  color: var(--color-red);
  font-family: var(--font-family-base);
  font-size: 36px;
  font-weight: 400;
  line-height: 135%;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0;
  font-family: var(--font-family-accent);
  font-weight: 20px;
}

td {
  font-weight: bold;
  padding: 8px;
  border-bottom: 1px solid var(--color-gray);
}

td:first-child {
  font-weight: normal;
  width: 40%;
  border-right: 1px solid var(--color-gray);
}

.note {
  font-family: var(--font-family-accent);
  color: var(--color-blue);
  font-size: 20px;
}

/* Этапы */
.steps {
  padding: 60px 0;
}
.steps h2 {
  font-family: var(--font-family-accent);
  font-size: 28px;
  margin-bottom: 10px;
}
.subtitle {
  font-style: italic;
  margin-bottom: 30px;
}

.step {
  padding: 20px;
  background: var(--color-white);
  /* border-radius: 10px; */
  margin-bottom: 15px;
  font-family: var(--font-family-accent);
}

/* Участники */
.participants {
  padding: 60px 0;
}
.section-title {
  font-family: var(--font-family-accent);
  font-size: 28px;
  margin-bottom: 30px;
}
.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
}
.carousel {
  display: flex;
  gap: 20px;
  padding: 20px 0;
  transition: transform 0.4s ease;
  will-change: transform;
}
.participant-item {
  scroll-snap-align: start;
  min-width: 394px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 auto;
  width: 250px;
  margin-right: 16px;
  text-align: center;
}
.participant-item img {
  width: 320px;
  height: 320px;
  border-radius: 10px;
  padding-bottom: 15px;
}

.participant-item p {
  margin: 0;
}

.participant-item button {
  margin-top: 10px;
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid var(--color-blue);
  padding: 3px 10px;
  color: var(--color-blue);
}

.participant-item button:hover {
  border: 1px solid var(--color-dark);
  color: var(--color-dark);
}

.participant-title {
  display: flex;
  justify-content: space-between;
}

.carousel-btn {
  background: var(--color-dark);
  color: var(--color-white);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  z-index: 10;
}

.subtitle {
  color: var(--color-blue);
}

.about-title {
  font-family: var(--font-family-base);
  font-size: 36px;
  font-weight: 400;
  line-height: 135%;
}

/* about */
.about-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.step {
  background-image: url("/img/Paper.png");
  padding: 16px;
  font-size: 15px;
  line-height: 1.4;
}

.num {
  display: inline-block;
  background: var(--color-white);
  border-radius: 50%;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  font-weight: bold;
  margin-right: 8px;
}

.withplane {
  position: relative;
}

/* Особые размеры */
.step3 {
  grid-row: span 2;
}

.step7 {
  grid-column: span 2;
}

.step7container {
  width: 60%;
}

.plane {
  grid-column: span 1;
  align-items: center;
  justify-content: center;
}

.planeimg {
  max-width: 100%;
  height: auto;
  position: absolute;
  bottom: 20px;
  /* left: 200px; */
  right: -10px;
  object-fit: cover;
}

/* Футер */
footer {
  text-align: center;
  padding: 30px 0;
  font-style: italic;
  color: var(--color-dark-brown);
}

.footer-merquee {
  position: relative;
}
